asgiref==3.5.2
dj-database-url==0.5.0
Django==4.0.5
django-clearcache==1.2.1
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
importlib-metadata==4.11.4
Markdown==3.3.7
mysqlclient==2.1.1
PyJWT==2.4.0
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
zipp==3.8.0
